@{
/*
    Name: Payment Response
    Purpose: Redirect page to status of order after complete the payment process
    Structure: /Views/Checkout/Layout1/PaymentResponse.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_OpcLayout.cshtml     

    Contained In (Where we Use this View):
        
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.API.SDK.Entities
@using Omnicx.WebStore.Core.Controllers
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage< Omnicx.API.SDK.Models.Common.BoolResponse>
@{
    ViewBag.Title = "PaymentResponse";
    Layout = "~/Views/Shared/Layout1/_OpcLayout.cshtml";
}

<h2>PaymentResponse</h2>
@{
    <section ng-controller="accountCtrl as am">
        @if (Model.IsValid)
        {
            <p>
                @LT("Order.Label.SuccessMsg", "Please wait we are Redirecting you to the Order Confirmation Page, Please do not close this page before you See your order Details.")
            </p>
            <form action="@Url.Action("OrderConfirmation","Checkout",new { id=Model.RecordId})" method="POST" name="myForm" role="form" ng-hide="true"></form>
            <span ng-init="am.orderConfirmation(myForm)"></span>
            //Response.Redirect(Html.BuildUrlFromExpression<CheckoutController>(c => c.OrderConfirmation(null)) + "/" + Model.RecordId);
        }
        else
        {
            @LT("Order.Label.DeclineMsg", "Your transaction has been declined.")
            if (ConfigKeys.OnePageCheckout == false)
            {
                Response.Redirect(Html.BuildUrlFromExpression<CheckoutController>
                    (c => c.StandardCheckout(null)) + "/" + Model.RecordId);
            }
            else
            {
                Response.Redirect(Html.BuildUrlFromExpression<CheckoutController>
                    (c => c.OnePageCheckout(null)) + "/" + Model.RecordId);
            }
        }
    </section>
}

@section scripts{    
<script>
        window.app.constant('accountConfig', {
        });
        window.app.constant('model', "");
</script>
}