@{
/*
Name: Blog Editors
Purpose: show all editors
Structure: /Views/Blog/_Editors.cshtml
Contains (Partial Views Used):
Contained In (Where we Use this View) :
    a-/Views/Shared/Blog.cshtml
*/
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Models
@using Omnicx.WebStore.Core.Helpers
@model List<Omnicx.WebStore.Models.Site.BlogGroupModel>

<div class="col-sm-12">
    <div class="row-products">
        <div class="text-center">
            <h3>OUR EDITORS</h3>
        </div>
        <div class="text-center editor-row">
            @foreach (var editors in @Model)
            {
                if (@editors.GroupCount > 0)
                {
                    <div class="editor-col">
                        <div class="avatar">
                            @{/*Editor Image*/}
                            <div class="img-circle text-center">
                                <a href="/@editors.Slug" class="text-center">                                    
                                    <img ng-src="@editors.GroupImage" class="image-editor" alt="" onerror="this.src = DEFAULT_IMAGE_URL">
                                </a>
                            </div>
                            @{/*End Editor Image*/}

                            @{/*Editor Name*/}
                            <div class="text">
                                <h3 class="editor-name"><a href="/@editors.Slug">@editors.GroupName</a></h3>
                                @*<h6 class="editor-category">Editor Category</h6>*@
                            </div>
                            @{/*End Editor Name*/}
                        </div>
                    </div>
                                    }
                                }
        </div>
    </div>
</div>