﻿@{
    /*
        Name: Quick Order Pad Link UI
        Purpose: Button UI for Quick Order Pad
        Structure: /Views/Basket/_HeaderBulkOrder.cshtml
        Contains (Partial Views Used):

        Contained In (Where we Use this View):
            a-/Views/Shared/_HeaderLayout.cshtml    (Link in Top Header)
        */
}

@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Models.Keys 

<li class="pull-right">
    <div class="top-login-cart metaLinks">
        <ul class="list-inline">
            <li class="shopping-cart">
                <a ng-click="gm.quick=null;gm.excelData=null;gm.format1=true;gm.format2=false;gm.number=5;gm.openQuickBasketModal()" class="metaLinks__basket minicart-custom text-center">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>Quick Order                    
                </a>
            </li>
        </ul>
    </div>    
</li>

