@{
/*
    Name: Page common Error
    Purpose: Show This Error Page when found error
    Structure: /Views/Common/Layout1/Error.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_Layout.cshtml    (For base Structure)

    Contained In (Where we Use this View):
    */
}
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Default Store</h3>
        </div>
        <div class="jumbotron alert-danger">
            <h1>Error</h1>
            <p class="lead">It seems like something went wrong inside the system. We're on it !</p>
            <p>
                <a class="animate btn-bordered" href="~/" role="button">Go Back to Home Page</a>
            </p>
        </div>
    </div>
</body>
</html>
