<div ng-repeat="record in records track by $index" ng-class="{'col-xs-12 col-sm-3 col-md-3 col-lg-3':numItemsRow.value==4,'col-xs-12 col-sm-12 col-md-12 col-lg-12':numItemsRow.value==1,'col-xs-12 col-sm-6 col-md-6 col-lg-6':numItemsRow.value==2,'col-xs-12 col-sm-4 col-md-4 col-lg-4':numItemsRow.value==3,'col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths':numItemsRow.value==5,'col-xs-12 col-sm-2 col-md-2 col-lg-2':numItemsRow.value==6}" >
    <div class="product-container">
        <a href="/{{record.slug}}">
            <div class="product-image-384" ng-if="viewType.value==1 || viewType.value==2">
                <img ng-src="{{ record.image }}" alt="Product image" class="img-responsive img-full">
            </div>
            <div class="product-detail" ng-if="viewType.value==1 || viewType.value==3">
                <h4>{{ record.name }}</h4>
                <!--<p>{{ record.description }}</p>-->
                <div class="price-box">
                    <p class="product-price" ng-bind="(record.price)"></p>
                </div>
                <div class="price-box">
                    <p class="product-price-rrp"><strong>RRP</strong> <span ng-bind="(record.listPrice)" class="ng-binding"></span></p>
                    <p class="product-price-save" ng-show="(record.savePrice>0)">
                        <strong>Save</strong>
                        <span ng-bind="(record.listPrice.charAt(0))" class="ng-binding"></span>
                        <span class="product-price-save ng-binding" ng-bind="(record.savePrice).toFixed(2)"></span>
                    </p>
                </div>
            </div>
        </a>
        <div class="more-btn text-center" ng-show="list.moreButtonEnabled === '1'">
            <div ng-class="{'col-sm-12 col-xs-12 no-padding text-center':viewType.value==2,'col-sm-12 col-xs-12 no-padding text-center':viewType.value==1,'col-sm-12 col-xs-12 no-padding text-center':viewType.value==3}" ng-if="moreButtonType.value === 'btn'"><a href="/{{record.slug}}" class="btn btn-default shop-now">{{moreButtonText}}</a></div>
            <div ng-class="{'col-sm-12 col-xs-12 no-padding text-center':viewType.value==2,'col-sm-12 col-xs-12 no-padding text-center':viewType.value==1,'col-sm-12 col-xs-12 no-padding text-center':viewType.value==3}" ng-if="moreButtonType.value === 'href'"><a href="/{{record.slug}}" class="btn btn-link no-padding">{{moreButtonText}}</a></div>
        </div>
    </div>
</div>