@{
/*
    Name: CMS Home Page
    Purpose: Render CMS generated UI with HTML structure for Home Page
    Structure: /Views/Page/Layout1/_IndexCms.cshtml
    Contains (Partial Views Used): NO Partial View Used
    Contained In (Where we Use this View): /Views/Page/Layout1/Index.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<Omnicx.API.SDK.Models.Site.SiteViewModel>
<div class="akc-container-fluid">
    @Html.Raw(Model.HtmlBody)
</div>
