@{
/*
    Name: Mobile Facet UI   
    Purpose: Show facet in Mobile View
    Structure: /Views/Search/_SearchFacetsMobile.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Search/Search.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
<div id="mySidenav" class="sidenav visible-xs" ng-init="pm.index=0">
    <div class="sidenav-inner">
        <div class="mobile-filter tabs-left">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="nav nav-tabs">
                <li class="" ng-repeat="filter in pm.productResponse.filters track by $index" ng-hide="pm.productResponse == null || pm.productResponse.results==null" ng-class="{'active':pm.index==$index}" ng-click="pm.index=$index">
                    <a href="#Mobile{filter.name.split(' ').join('')}}" data-toggle="tab"><span ng-bind="filter.name"></span></a>
                </li>
            </ul>
            <div class="tab-content" ng-repeat="filter in pm.productResponse.filters track by $index" ng-hide="pm.productResponse == null || pm.productResponse.results==null">
                <div class="tab-pane" id="Mobile{{filter.name.split(' ').join('')}}" ng-class="{'active':pm.index==$index}">
                    <form>
                        <div class="form-group">
                            <div class="checkbox" ng-repeat="item in filter.items">
                                <label ng-if="filter.name=='Rating'">
                                    <input type="checkbox" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-star" ng-repeat="1 in pm.setRating(item.name,1)"></i><i class="fa fa-star-o" ng-repeat="1 in pm.setRating(item.name,0)"></i></li>
                                        <li> (<span class="text-bold" ng-bind="item.count"></span>)</li>
                                    </ul>
                                </label>
                                <label ng-if="filter.name!='Rating' && item.name.indexOf('#')<0 && filter.name !='Price'">
                                    <input type="checkbox" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}"><span ng-bind="item.name"></span> (<span class="text-bold" ng-bind="item.count"></span>)
                                </label>
                                <label ng-if="filter.name =='Price'">
                                    <input type="checkbox" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}"><span ng-bind="item.from.split('.')[0]"></span>&nbsp;-&nbsp;<span ng-bind="item.to.split('.')[0]"></span> (<span class="text-bold" ng-bind="item.count"></span>)
                                </label>
                            </div>
                            <div class="checkbox color-box" ng-repeat="item in filter.items" ng-if="item.name.indexOf('#')>=0">
                                <label ng-if="item.name.indexOf('#')>=0">
                                    <input type="checkbox" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}"><span class="colour" style="background-color:{{item.name}}"></span> @*(<span class="text-bold" ng-bind="item.count"></span>)*@
                                </label>
                            </div>
                        </div>
                    </form>
                    <a href="" onclick="closeNav()" class="applyFilter-panel">Apply Filter</a>
                    <a href="" onclick="closeNav()" ng-click="pm.clearAddProduct(filter.key)" class="clearFilter-panel">Clear {{filter.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>