@{
/*
    Name: Facet UI
    Purpose: Show facet
    Structure: /Views/Search/_SearchFacets.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
        a-/Views/Search/Search.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
<div class="row" ng-cloak>
    <div class="col-sm-12 col-xs-12 selected-search" ng-hide="pm.productResponse == null || pm.productResponse.results==null">
        <h4 class="panel-h3">@LT("ProductListing.Label.YouHaveSelected", "Filters")</h4>
        @*<div class="col-sm-12 no-padding" ng-show="pm.searchCriteria.freeText!=null && pm.searchCriteria.freeText.length>0" ng-cloak>
            <span class="selected-p"><span class="text-capitalize" ng-bind="pm.searchCriteria.freeText"></span>&nbsp;<a class="btn-cross" ng-click="pm.removeFilter(pm.searchCriteria)"><i class="fa fa-times"></i></a></span>
        </div>*@
        <div ng-repeat="group in pm.selectionGroup" class="selected-margin">
            <div class="col-sm-12 no-padding">
                <span ng-repeat="selected in pm.searchproductfilter  | filter:{name:group}">
                    <span class="selected-p" ng-if="selected.name!='Rating' && selected.value.indexOf('#')<0 ">
                        <span ng-bind="selected.value" style="padding-left: 0px;padding-right:10px;"></span>&nbsp;
                        <a class="btn-cross" ng-click="pm.removeFilter(selected)">&nbsp;<i class="fa fa-times"></i></a>
                    </span>
                    <span class="selected-p" ng-if="selected.value.indexOf('#')>=0">&nbsp;<span class="colour" style="background-color:{{selected.value}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<a class="btn-cross" ng-click="pm.removeFilter(selected)">&nbsp;<i class="fa fa-times"></i></a></span>
                    <span class="selected-p">
                        <ul class="list-inline" ng-if="selected.name=='Rating'">
                            <li>
                                <i class="fa fa-star" ng-repeat="1 in pm.setRating(selected.value,1)"></i><i class="fa fa-star-o" ng-repeat="1 in pm.setRating(selected.value,0)"></i>
                                &nbsp;<a class="btn-cross" ng-click="pm.removeFilter(selected)">&nbsp;<i class="fa fa-times"></i></a>
                            </li>
                        </ul>
                    </span>                    
                </span>
            </div>
        </div>
    </div>
</div>
@{ /* End Selected filter grig */ }

@{ /* Start left filters accordion */ }
<div class="row" ng-cloak>
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default sidebar-menu" ng-repeat="filter in pm.productResponse.filters track by $index" ng-hide="pm.productResponse == null || pm.productResponse.results==null">
            <div class="panel-heading panel-heading-top col-sm-12 no-padding">
                <div class="col-sm-9 no-padding">
                    <h4 class="panel-title panel-h4" data-toggle="collapse" data-target="#{{filter.name.split(' ').join('')}}">
                        <a href="" ng-click="i=!i">
                            <i class="fa fa-caret-right" ng-show="i"></i><i class="fa fa-caret-down" ng-show="!i"></i> <span ng-bind="filter.name"></span>
                        </a>
                    </h4>
                </div>
                <div class="col-sm-3 no-padding">
                    <a href="" ng-click="pm.clearAddProduct(filter.key)" class="panel-clear">@LT("ProductListing.Label.Clear", "Clear")</a>
                </div>
            </div>
            <div class="panel-body max-panel collapse in panel-padding-top" id="{{filter.name.split(' ').join('')}}">
                <form>
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="item in filter.items | orderBy : 'priceFilter'">
                            <label ng-if="filter.name=='Rating'">
                                <input type="checkbox" ng-selected="item.isSelected" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star" ng-repeat="1 in pm.setRating(item.name,1)"></i><i class="fa fa-star-o" ng-repeat="1 in pm.setRating(item.name,0)"></i></li>
                                    <li> (<span class="text-bold" ng-bind="item.count"></span>)</li>
                                </ul>
                            </label>
                            <label ng-if="filter.name!='Rating' && item.name.indexOf('#')<0 && filter.name !='Price'">
                                <input type="checkbox" ng-selected="item.isSelected" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}">
                                <span ng-bind="item.name"></span> (<span class="text-bold" ng-bind="item.count"></span>)
                            </label>
                            <label ng-if="filter.name =='Price'">
                                <input type="checkbox" ng-selected="item.isSelected" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}">
                                <span ng-bind="item.from.split('.')[0]"></span><span ng-if="item.name.indexOf('*')>=0">*</span>
                                <span ng-show="item.to!=null && item.to !=''">&nbsp;-&nbsp;</span>
                                <span ng-bind="item.to.split('.')[0]"></span> (<span class="text-bold" ng-bind="item.count"></span>)
                            </label>
                        </div>
                        <div class="checkbox color-box" ng-repeat="item in filter.items" ng-if="item.name.indexOf('#')>=0 && item.count>0">
                            <label ng-if="item.name.indexOf('#')>=0">
                                <input type="checkbox" ng-selected="item.isSelected" ng-click="pm.productTosearch(filter,item)" ng-model="item.isSelected" class="{{pm.removeChar(filter.key,item.name)}}"><span class="colour" style="background-color:{{item.name}}"></span> @*(<span class="text-bold" ng-bind="item.count"></span>)*@
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{ /* End left filters accordion */ }


