@{
/*
    Name: Basket
    Purpose: Customer Recently View Products
    Structure: /Views/Basket/Layout1/_RecentlyViewed.cshtml
    Contains (Partial Views Used):
        a-/Views/Search/Layout1/_ProductWidget.cshtml    (product Widget to show relative Product Structure)

    Contained In (Where we Use this View):
        a-/Views/Basket/Layout1/Index.cshtml       (Link in Recently Viewed accordian)
    */
}
@using Microsoft.Web.Mvc
@using Omnicx.WebStore.Models.Enums
@using Omnicx.WebStore.Models.Keys
@using Omnicx.WebStore.Core.Controllers
@using Omnicx.WebStore.Framework.Helpers
@using Omnicx.WebStore.Models.Commerce
@using Newtonsoft.Json
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<BasketModel>
<div ng-if="rvp.groupedResult.length > 0">
    <div class="row">
        <div class="col-sm-12 col-xs-12 no-margin whiteContainer">
            <h3 class="heading-h4">@LT("ProductDetail.Label.RecentlyViewed", "Recently Viewed")</h3>
        </div>
    </div>
    <div class="row margin-top-sm">
        <div class="col-sm-12 col-xs-12 no-padding whiteContainer gridView">
            <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="8000" id="recentlyViewed">
                <div class="carousel-inner">
                    <div ng-repeat="productGroup in rvp.groupedResult track by $index">
                        <div ng-repeat="product in productGroup track by $index" class="item" ng-class="{active:$index==0}">
                            <div class="carousel-col">
                                @Html.Partial("~/Views/Search/Layout1/_ProductWidgetNew.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#recentlyViewed" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="right carousel-control" href="#recentlyViewed" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
