<div class="alertBlock">
    <div ng-cloak class="alert alert-info" ng-show="gm.errorMessage == null && !gm.saving && !gm.success">
        Make changes below.
    </div>
    <div ng-cloak class="alert alert-info" ng-show="gm.saving">
        Saving changes...
    </div>
    <div ng-cloak class="alert alert-success" ng-show="gm.success">
        <span class="fa fa-check"></span>
        Changes saved!
    </div>
    <div ng-cloak class="alert alert-danger" ng-show="gm.errorMessage != null">
        @*{{vm..errorMessage}}*@
        <div ng-repeat="err in gm.errorMessage track by $index">
            <i class="fa fa-circle"></i><span ng-bind="err"></span>
        </div>
    </div>
    <div id="divErrMsg" class="alert alert-danger hide">
        <div>
            <i class="fa fa-circle"></i><span></span>
        </div>
    </div>
</div>
