@{
/*
    Name: Page Header
    Purpose: Select Header according to screen size
    Structure: /Views/Shared/Layout1/_LayoutHeader.cshtml
    Contains (Partial Views Used):
        a-/Views/Shared/Layout1/_HeaderLayout.cshtml
        b-/Views/Shared/Layout1/_MobileHeaderLayout.cshtml

    Contained In (Where we Use this View):
        a-/Views/Shared/Layout1/_Layout.cshtml
        b-/Views/Shared/Layout1/_LayoutAccount.cshtml
        c-/Views/Shared/Layout1/_LayoutBlog.cshtml
        d-/Views/Shared/Layout1/_LayoutCMS.cshtml
    */
}
@using Omnicx.API.SDK.Entities
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>

@{
    var StoreTheme = ConfigKeys.StoreTheme;
    var checkoutUrl = Url.Action("OnePageCheckout", "Checkout");
    if (ConfigKeys.OnePageCheckout == false)
    {
        checkoutUrl = Url.Action("StandardCheckout", "Checkout");
    }
}
@*Header Start*@
<div class="hidden-xs">
    @Html.Partial("~/Views/Shared/Layout1/_HeaderLayout.cshtml")
</div>
<div class="visible-xs">
    @Html.Partial("~/Views/Shared/Layout1/_MobileHeaderLayout.cshtml")
</div>
@*Header END*@

<div class="navOverlay"></div>