<div class="alertBlock">
    <div ng-cloak class="alert alert-info" ng-show="gm.saving">
        Saving changes...
    </div>
    <div ng-cloak class="alert alert-success" ng-show="gm.success">
        <span class="fa fa-check"></span>
        Changes saved!
    </div>
    <div ng-cloak class="alert alert-danger" ng-show="gm.errorMessage != null">
            <i class="fa fa-circle"></i><span ng-bind="gm.errorMessage"></span>
    </div>
    <div class="divErrMsg alert alert-danger hide">
        <div>
            <i class="fa fa-circle"></i><span></span>
        </div>
    </div>
</div>
