@{
/*
    Name: Error Layout
    Purpose: Show Error Messages
    Structure: /Views/Shared/_LayoutError.cshtml
    Contains (Partial Views Used):

    Contained In (Where we Use this View):
    */
}
<!DOCTYPE html>
<html >
<head>
    <title></title>
    @Styles.Render("~/bundles/style-css")
</head>
<body>
<div>
    <div id="content" class="clearfix">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
