@{
/*
    Name: B2B Registration Validation Message
    Purpose:  B2B Registration Validation Message
    Structure: /Views/B2B/_AccountAlert.cshtml
    Contains (Partial Views Used):
    Contained In (Where we Use this View):
        a-/Views/B2B/MyCompany.cshtml       (Validation Messages)
    */
}
<div class="alertBlock">
    <div ng-cloak class="alert alert-info" ng-show="b2b.errorMessage == null && !b2b.saving && !b2b.success">
        Make changes below.
    </div>
    <div ng-cloak class="alert alert-info" ng-show="b2b.saving">
        Saving changes...
    </div>
    <div ng-cloak class="alert alert-success" ng-show="b2b.success">
        <span class="fa fa-check"></span>
        Changes saved!
    </div>
    <div ng-cloak class="alert alert-danger" ng-show="b2b.errorMessage != null">
        @*{{b2b.errorMessage}}*@
        <div ng-repeat="err in b2b.errorMessage track by $index">
            <i class="glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;<span ng-bind="err"></span>
        </div>
    </div>
    <div id="divErrMsg" class="alert alert-danger hide">
        <div>
            <i class="fa fa-circle"></i><span></span>
        </div>
    </div>
</div>
