<div class="omnicomponent omni-page-section container90 component-list-new enabled pull-left" component-type="53" list-id="" list-type="3" view-type="1" num-items-row="3" more-button-enabled="1" more-button-type="btn" more-button-text="buy now" view-all-enabled="1" view-all-link="" view-all-text="view all" component-id="">    
    <div class="row">
        <div class="col-sm-12 col-xs-12 no-padding gridView">
            <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated">
                <div class="product-container-panel">                    
                    <div class="imagePanel">
                        <a href="/"><img src="https://devocxblob.blob.core.windows.net/demostore/products/706317BrightRed.jpg" alt="" class="image1"></a>
                    </div>
                    <div class="dataPanel">
                        <div class="ribbon-info">
                            <a href="/"><span>Product Name</span></a>
                        </div>
                        <div class="price-info">
                            <div class="col-sm-8 col-xs-12 no-padding">
                                <h3><span>&euro;45.6</span> <span class="sml">&euro;50.7</span></h3>
                            </div>
                            <div class="col-sm-4 col-xs-4 no-padding quantity-info hidden-xs">
                                <input type="number" class="form-control" ng-model="product.bulkQty" min="1" placeholder="Qty" ng-click="pm.onTextFocus($event)" numbers-Only />
                            </div>
                        </div>
                        <div class="button-info">                            
                            <div class="action-info hidden-xs">
                                <a class="animate btn-success"><span>Add To Cart</span></a>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated">
                <div class="product-container-panel">
                    <div class="imagePanel">
                        <a href="/"><img src="https://devocxblob.blob.core.windows.net/demostore/products/715161Camo.jpg" alt="" class="image1"></a>
                    </div>
                    <div class="dataPanel">
                        <div class="ribbon-info">
                            <a href="/"><span>Product Name</span></a>
                        </div>
                        <div class="price-info">
                            <div class="col-sm-8 col-xs-12 no-padding">
                                <h3><span>&euro;45.6</span> <span class="sml">&euro;50.7</span></h3>
                            </div>
                            <div class="col-sm-4 col-xs-4 no-padding quantity-info hidden-xs">
                                <input type="number" class="form-control" ng-model="product.bulkQty" min="1" placeholder="Qty" ng-click="pm.onTextFocus($event)" numbers-Only />
                            </div>
                        </div>
                        <div class="button-info">
                            <div class="action-info hidden-xs">
                                <a class="animate btn-success"><span>Add To Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated">
                <div class="product-container-panel">
                    <div class="imagePanel">
                        <a href="/"><img src="https://devocxblob.blob.core.windows.net/demostore/products/36409.jpg" alt="" class="image1"></a>
                    </div>
                    <div class="dataPanel">
                        <div class="ribbon-info">
                            <a href="/"><span>Product Name</span></a>
                        </div>
                        <div class="price-info">
                            <div class="col-sm-8 col-xs-12 no-padding">
                                <h3><span>&euro;45.6</span> <span class="sml">&euro;50.7</span></h3>
                            </div>
                            <div class="col-sm-4 col-xs-4 no-padding quantity-info hidden-xs">
                                <input type="number" class="form-control" ng-model="product.bulkQty" min="1" placeholder="Qty" ng-click="pm.onTextFocus($event)" numbers-Only />
                            </div>
                        </div>
                        <div class="button-info">
                            <div class="action-info hidden-xs">
                                <a class="animate btn-success"><span>Add To Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated">
                <div class="product-container-panel">
                    <div class="imagePanel">
                        <a href="/"><img src="https://devocxblob.blob.core.windows.net/demostore/products/995.jpg" alt="" class="image1"></a>
                    </div>
                    <div class="dataPanel">
                        <div class="ribbon-info">
                            <a href="/"><span>Product Name</span></a>
                        </div>
                        <div class="price-info">
                            <div class="col-sm-8 col-xs-12 no-padding">
                                <h3><span>&euro;45.6</span> <span class="sml">&euro;50.7</span></h3>
                            </div>
                            <div class="col-sm-4 col-xs-4 no-padding quantity-info hidden-xs">
                                <input type="number" class="form-control" ng-model="product.bulkQty" min="1" placeholder="Qty" ng-click="pm.onTextFocus($event)" numbers-Only />
                            </div>
                        </div>
                        <div class="button-info">
                            <div class="action-info hidden-xs">
                                <a class="animate btn-success"><span>Add To Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5ths col-sm-5ths col-xs-5ths col-lg-5ths resultContainerRelated">
                <div class="product-container-panel">
                    <div class="imagePanel">
                        <a href="/"><img src="https://devocxblob.blob.core.windows.net/demostore/products/198009Black.jpg" alt="" class="image1"></a>
                    </div>
                    <div class="dataPanel">
                        <div class="ribbon-info">
                            <a href="/"><span>Product Name</span></a>
                        </div>
                        <div class="price-info">
                            <div class="col-sm-8 col-xs-12 no-padding">
                                <h3><span>&euro;45.6</span> <span class="sml">&euro;50.7</span></h3>
                            </div>
                            <div class="col-sm-4 col-xs-4 no-padding quantity-info hidden-xs">
                                <input type="number" class="form-control" ng-model="product.bulkQty" min="1" placeholder="Qty" ng-click="pm.onTextFocus($event)" numbers-Only />
                            </div>
                        </div>
                        <div class="button-info">
                            <div class="action-info hidden-xs">
                                <a class="animate btn-success"><span>Add To Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>