@{
/*
    Name: Large Product Image
    Purpose: Show Large Product Image
    Structure: /Views/Product/_ProductDetailSlider.cshtml
    Contains (Partial Views Used):
       
    Contained In (Where we Use this View):
     a-/Views/Product/ProductDetail.cshtml
    */
}
<!-- Modal -->
<div id="productLarge" class="modal fade" role="dialog" aria-hidden="true" style="z-index:9999999999;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-bold" id="myModalLabel" ng-bind="pm.model.name"></h4>
            </div>
            <div class="modal-body" ng-init="pm.model.image=pm.model.image">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 no-padding-left quick-view-main-image">
                        <img ng-src="{{pm.model.image}}" class="img-responsive" onerror="this.src = DEFAULT_IMAGE_URL" ng-cloak>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="carousel slide multi-item-carousel" id="productList">
                            <div class="carousel-inner">
                                <div ng-repeat="img in pm.model.images">
                                    <div class="item" ng-class="{active : $index==0}">
                                        <div class="col-xs-3 col-sm-3">
                                            <div class="thumbs">
                                                <a class="thumb">
                                                    <img ng-src="{{img.url}}" onerror="this.src = DEFAULT_IMAGE_URL" ng-click="pm.model.image=img.url" class="img-responsive" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control carousel-control-sm" href="#productList" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control carousel-control-sm" href="#productList" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>