@{
/*
    Name: Related Products
    Purpose: Show related products of open product in detail page
    Structure: /Views/Product/_RelatedProducts.cshtml
    Contains (Partial Views Used):
        a-/Views/Search/_ProductWidget.cshtml

    Contained In (Where we Use this View):
        a-/Views/Product/ProductDetail.cshtml
    */
}
@inherits Omnicx.WebStore.Core.Services.Infrastructure.CustomBaseViewPage<dynamic>
<div class="col-sm-12 col-xs-12 no-padding gridView" ng-init="pm.quickView=true;">
    <div class="accordion">
        <dl>
            <dt>
                <a href="#relatedProduct" aria-expanded="true" aria-controls="relatedProduct" class="accordion-title accordionTitle js-accordionTrigger is-collapsed is-expanded">@LT("ProductDetail.label.AlsoLike", "You may also like these products")</a>
            </dt>
            <dd class="accordion-content accordionItem-lg no-padding is-expanded animateIn" id="relatedProduct" aria-hidden="false">
                <div class="col-sm-5ths col-xs-5ths col-lg-5ths col-md-5ths resultContainerRelated" ng-repeat="product in pm.model.relatedProductList track by $index">
                    @Html.Partial("~/Views/Search/_ProductWidget.cshtml")
                </div>

            </dd>
        </dl>
    </div>
</div>